<div class="background">
        <div id='activity-clock'>00:00:00</div>
    {{#with case}}
        {{#each caseinfo}}
        <div id="infocard-{{id}}" class="well infocard" style="padding:0px">
            <div class="card-title">
                {{title}}
            </div>
            <div class="card-content">
                <div class="content-media">
                    {{#if image}}
                    <img src="{{source}}" alt="{{imgtext}}">
                    {{/if}}
                    {{#if video}}
                    <video controls>
                        <source src="{{source}}" type="video/{{type}}">
                        browser unsupported for watching video
                    </video>
                    {{/if}}
                    {{#if audio}}
                    <audio controls>
                        <source src="{{source}}" type="audio/{{type}}">
                    </audio>
                    {{/if}}
                </div>
                {{#if text}}

                <div class="content-text">
                    <ul>
                        {{#each text}}
                        <li id="info-{{../id}}-{{@index}}" class="list-item">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            </div>
            <div class="card-button">
                <div class="pull-right btn-keep btn btn-xs btn-flat btn-success">Keep</div>
            </div>
        </div>
        {{/each}}
    {{/with}}
</div>