.voicehud{
    opacity: 0.6 !important;
    z-index: 100000;
    .hud{
        // background-color: "#333" !important;
        opacity: 0.6 !important;
        width: 800px;
        height: 400px;
        z-index: 100000;
    }
    // .timeline .cpn-actionbutton{
    //     transform: scale(0.4,0.4);
    // }
    // .timeline{
    //     z-index: 101000;
    //     transform: scale(0.4,0.4);
    // }
    .cpn-hint{
        font-weight: bolder;
    }
}
