<ul>
	<li>
		<button id="test-card1" class="btn btn-success btn-raised results-card">Urine Analysis</button>
		<!--<div id="urine-analysis-results" class="panel panel-info">-->
		<!--<div class="panel-heading">-->
		<!--<h3 class="panel-title">Urine Analysis Results</h3>-->
		<!--</div>-->
		<!--<table>-->
		<!--<tr>-->
		<!--<td>Glucose</td>-->
		<!--<td>100</td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<td>Bilirubin</td>-->
		<!--<td>30</td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<td>Ketones</td>-->
		<!--<td>120</td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<td>S.G</td>-->
		<!--<td>20</td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<td>Eryth</td>-->
		<!--<td>30</td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<td>pH</td>-->
		<!--<td>40</td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<td>T.S(g/dL)</td>-->
		<!--<td>50</td>-->
		<!--</tr>-->
		<!--</table>-->
		<!--<button id="hide-chart-button2" class="btn btn-primary btn-raised hide-chart-button">Hide</button>-->
		<!--</div>-->

	</li>
	<li>
		<button id="test-card2" class="btn btn-material-orange btn-raised test-card">Blood Test - CBC (2mins)</button>
	</li>
	<li>
		<button id="test-card3" class="btn btn-material-blue btn-raised test-card">Blood Test</button>

		<!-- blood test sub-menu ------------------------------------------------>
		<div id="test-menu-container2" class="menu-container sub-menu-container">
			<div id = "test-menu2" class="button-menu">
				<ul>
					<li>
						<button id="blood-test-card1" class="btn btn-material-blue btn-raised results-card">CBC</button>
					</li>
					<li>
						<button id="blood-test-card2" class="btn btn-material-blue btn-raised test-card">ESR</button>
					</li>
					<li>
						<button id="blood-test-card4" class="btn btn-material-blue btn-raised test-card">Glucose</button>
					</li>
					<li>
						<button id="blood-test-card5" class="btn btn-material-blue btn-raised test-card">Lipoprotein</button>
					</li>
					<li>
						<button id="blood-test-card6" class="btn btn-material-blue btn-raised test-card">ELISA</button>
					</li>
					<li>
						<button id="blood-test-card7" class="btn btn-material-blue btn-raised test-card">STD</button>
					</li>
					<li>
						<button id="blood-test-card8" class="btn btn-material-blue btn-raised test-card">Western Blot</button>
					</li>
					<li>
						<button id="blood-test-card9" class="btn btn-material-blue btn-raised test-card">Liver Function</button>
					</li>
					<li>
						<button id="blood-test-card10" class="btn btn-material-blue btn-raised test-card">Hormones</button>
					</li>
				</ul>
			</div>
		</div>
		<!-- end blood test sub-menu ------------------------------------------------>
	</li>
	<li>
		<button id="test-card4" class="btn btn-material-blue btn-raised test-card">XRAY</button>
	</li>
	<li>
		<button id="test-card5" class="btn btn-material-blue btn-raised test-card">CTSCAN</button>
	</li>
</ul>

