<img src = "resources/images/vp-outline.png">


<!-- <div id="eveshade"></div>
<div id="eve">
    <input type="button" class="hotspot" style="left:50%;top:0%">
    <input type="button" class="hotspot" style="left:50%;top:50%">
    <input type="button" class="hotspot" style="left:50%;top:100%">
</div> -->
