<div id = "event-feed">
    <!-- <div id="speech-card1" class="generic-card speech-card card">
        I'm cold
    </div> -->
    <!-- <div id="speech-card2" class="generic-card speech-card card">
        My head hurts
    </div>
    <br><br>

    <div id="speech-card3" class="generic-card speech-card card">
        <div class = "card-text" style="margin-top:-1em">
            <p>
                <b>query:</b> Are you hungry?<br>
                <b>Response:</b> Yes."
            </p>
        </div>
    </div>

    <div id="observation-card1" class="generic-card observation-card card">
        Patient is elderly man.
    </div>

    <div id="observation-card2" class="generic-card observation-card card">
        Patient is itchy all over.
    </div>

    <div id="observation-card3" class="generic-card observation-card card">
        Patient has a rash.
    </div>
    <div id="dummy-card1" class="generic-card observation-card card">
        the fire
    </div>
    <div id="dummy-card2" class="generic-card observation-card card">
        and the flood.
    </div>
    <div id="dummy-card3" class="generic-card observation-card card">
        And i always feel.
    </div>
    <div id="dummy-card4" class="generic-card observation-card card">
        You in my blood.
    </div> -->
</div>
