.urine-analysis {

	#hide-chart-button {
		width: 200px !important;
		font-size: 1em !important;
		margin-left: 0;
		margin-right: 0;
	}
	.flag-btns{
		position: relative;
		float: right;
		right: 0px;
		// padding-left: 50px;
	}
	.flag-btn{
		font-size: 8px;
		width: 50px !important;
		background-color: red;
		height: 30px
	}
	ul{
		list-style-type: none;
		padding-left: none;
	}
	li{
		padding-bottom: 20px;
	}
	// .flag-btn-high{
	// 	background-color: red!important;
	// }
	// .flag-btn-low{
	// 	width: 40px !important;
	// }

	width: 300px;
	display: block;
	z-index: 10;

}
