.issues {


	//.btn {
	//  font-size: 2em;
	//  text-align: center;
	//  width: 60px;
	//  height: 60px;
	//}

	.issuestack{
	  .panel-heading{
		background-color: #5cb85c;
	  }
	}

	.score{
	  display: none;
	}

	.cost{
	  display: none;
	}

	.max-score{
	  display: none;
	}

	.card{
	  height: auto;
	}

	.credit{
	  background-color: #FFFFFF;
	  color: #000011;
	  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	  width:auto;
	}

	.credit::before {
	  content: "$";
	}

	.purchased::after{
	  content:"purchased";
	}

	.cardHover{
	  background-color: lightgrey;
	}

	.btn-credit-amount{
	  position:fixed;
	  top:1em;
	  right:1em;
	}

	.topic-unlock {
	  margin: 10px !important;
	}
  }


