<div id="case-overview-container" class="abs-center">
	<button id="btn-case-overview" class="btn btn-default disabled">Touch an activity below</button>
	<div id="case-overview">
		<a href="case/{{case.id}}/information"><button id="case-information" class="btn btn-primary btn-fab btn-raised">Case<br>Information</button></a>
		<div class="line"></div>
		<a href="case/{{case.id}}/issues">
		<button id="identify-issues" class="btn btn-primary btn-fab btn-raised">Identify Issues</button></a>
		<div class="line"></div>
		<button id="goals-and-actions" class="btn btn-disabled btn-fab btn-raised">Goals and<br>Actions</button>
		<div class="line"></div>
		<button id="reflection" class="btn btn-disabled btn-fab btn-raised">Reflection</button>
	</div>
</div>
