<div class="menu">
		<button id="blood-test-card1" class="btn btn-material-blue btn-raised results-card">CBC</button>
		<button id="blood-test-card2" class="btn btn-material-blue btn-raised test-card">ESR</button>
		<button id="blood-test-card4" class="btn btn-material-blue btn-raised test-card">Glucose</button>
		<button id="blood-test-card5" class="btn btn-material-blue btn-raised test-card">Lipoprotein</button>
		<button id="blood-test-card6" class="btn btn-material-blue btn-raised test-card">ELISA</button>
		<button id="blood-test-card7" class="btn btn-material-blue btn-raised test-card">STD</button>
		<button id="blood-test-card8" class="btn btn-material-blue btn-raised test-card">Western Blot</button>
		<button id="blood-test-card9" class="btn btn-material-blue btn-raised test-card">Liver Function</button>
		<button id="blood-test-card10" class="btn btn-material-blue btn-raised test-card">Hormones</button>
</div>
