<div id="patients-chart-table" class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Patients Chart</h3>
    </div>
    {{#each patients}}
    <table>
        <tr>
            <td>First Name</td>
            <td>{{this.firstname}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{this.lastname}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{this.sex}}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{this.age}}</td>
        </tr>
        <tr>
            <td>DOB</td>
            <td>{{this.dob}}</td>
        </tr>
        <tr>
            <td>Occupation</td>
            <td>{{this.profession}}</td>
        </tr>

        <tr>
            <td>Current medication:</td>
            <td>Insulin</td>
        </tr>
    </table>
    {{/each}}
    <button id="hide-chart-button" class="btn btn-primary btn-raised hide-chart-button">Hide</button>
</div>
