<div id = "query-menu" class="button-menu">
<br><br>
<ul>
    <!-- <li>
        <button id="query-card1" class="btn btn-material-blue btn-raised query-card menu-item">{{#foreach questions}}</button>
    </li> -->
    <li>
        <button id="query-card1" class="btn btn-material-blue btn-raised query-card menu-item">Where does it hurt?</button>
    </li>
    <li>
        <button id="query-card2" class="btn btn-material-blue btn-raised query-card menu-item">When did the pain begin?</button>
    </li>
    <li>
        <button id="query-card3" class="btn btn-material-blue btn-raised query-card menu-item">Are you hungry?</button>
    </li>
    <li>
        <button id="query-card4" class="btn btn-material-blue btn-raised query-card menu-item">Are you thirsty?</button>
    </li>
</ul>
</div>
