<div id = "test-menu" class="button-menu">
<ul>
    <li>
        <button id="test-card1" class="btn btn-material-blue btn-raised results-card"
        style="background-color:green">Urine Analysis</button>
    </li>
    <li>
        <button id="test-card2" class="btn btn-material-blue btn-raised test-card"
        style="background-color:orange">Blood Test - CBC (2mins)</button>
    </li>
    <li>
        <button id="test-card3" class="btn btn-material-blue btn-raised test-card">Blood Test</button>

        <!-- blood test sub-menu ------------------------------------------------>
        <div id="test-menu-container2" class="menu-container sub-menu-container">
            <div id = "test-menu2" class="button-menu">
            <ul>
                <li>
                    <button id="blood-test-card1" class="btn btn-material-blue btn-raised results-card">CBC</button>
                </li>
                <li>
                    <button id="blood-test-card2" class="btn btn-material-blue btn-raised test-card">ESR</button>
                </li>
                <li>
                    <button id="blood-test-card4" class="btn btn-material-blue btn-raised test-card">Glucose</button>
                </li>
                <li>
                    <button id="blood-test-card5" class="btn btn-material-blue btn-raised test-card">Lipoprotein</button>
                </li>
                <li>
                    <button id="blood-test-card6" class="btn btn-material-blue btn-raised test-card">ELISA</button>
                </li>
                <li>
                    <button id="blood-test-card7" class="btn btn-material-blue btn-raised test-card">STD</button>
                </li>
                <li>
                    <button id="blood-test-card8" class="btn btn-material-blue btn-raised test-card">Western Blot</button>
                </li>
                <li>
                    <button id="blood-test-card9" class="btn btn-material-blue btn-raised test-card">Liver Function</button>
                </li>
                <li>
                    <button id="blood-test-card10" class="btn btn-material-blue btn-raised test-card">Hormones</button>
                </li>
            </ul>
            </div>
        </div>
        <!-- end blood test sub-menu ------------------------------------------------>
    </li>
    <li>
        <button id="test-card4" class="btn btn-material-blue btn-raised test-card">XRAY</button>
    </li>
    <li>
        <button id="test-card5" class="btn btn-material-blue btn-raised test-card">CTSCAN</button>
    </li>
</ul>
</div>
