.case-information {
  text-align: center;
}
.case-information .title {
  width: 170px !important;
  height: 170px !important;
  font-size: 14pt;
}
.case-information .menu-item {
  height: 60px;
}
.case-information .btn-default {
  padding: 1em;
  margin-right: 1em;
}
