@button-size: 5em;
@button-margin: 0.5em;

#goals-activity-container {

  height: @button-size + 10em;
  text-align: center;

  .prompt {
    padding: 1em;
    color: #000000;
  }

  .goal-content-input {
    width: 50%;
  }

  #create-btn-wrapper {

    height: @button-size;

    button {
      width: @button-size !important;
      height: @button-size !important;
      color: #fff;
      font-size: 1.1em !important;
      margin-left: -@button-margin !important;
    }

  }

}
