@button-size: 5em;
@button-margin: 0.5em;

@width: 70%;
@height: @button-size + 10em;

#goals-activity-container {

	width: @width;
	height: @height;
	text-align: center;

	.prompt {
		color: #000000;
	}

	ul.goals-list {

		li {
			height: 3.5em;

			button {
				margin-left: 0.5em;
			}

		}

	}

	#create-goal {
		width: @button-size !important;
		height: @button-size !important;
		color: #fff;
		font-size: 1.1em !important;
	}

}

#actions-container {

	width: @width;
	height: @height;
	text-align: center;

	#create-action {
		width: @button-size !important;
		height: @button-size !important;
		color: #fff;
		font-size: 1.1em !important;
	}

}
