.inventory {
    z-index: 99999;
    float: right;
    width: 20%;
    min-width: 250px;
    height: 100%;
    position:relative;
}

.inventory ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.inventory li {
    padding: 3px;
}

.inventory li:hover {
    background-color: #eee;
}

.inventory .panel-heading {
    border-radius: 0;
    text-transform: uppercase;
}

.inventory .panel-heading i {
    padding-right: 12px;
    vertical-align: sub;
}

#inventory-toggle {
    float: left;
    left: -25px;
    position: relative;
    background-color: #00bcd4;
    width: 26px;
    height: 44px;
    padding: 8px 8px 8px 2px;
    box-shadow: -3px 1px 6px 0 rgba(0,0,0,0.12);
    z-index:301;
}
