#issues-container {

	.card {
		width: 300px;
		height: 100px;
	}

	#menu {

		button {
			font-size: 1em;
			text-align: center;
			top: 300px;
		}

		.delete {
			left: -75px;
		}

		.split {
			left: 75px;
		}

	}

  	.issuestack{
	  .panel-heading{
		background-color: #5cb85c;
	  }
	}

}
