@import "theme.less";
@import "mixins.less";

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #333;
	background-color: #eee;
	.user-select(none);
}

h1 {
	color: @primary;
	margin: 0;
}

main {
	position: absolute;
	top: 50%;
	left: 50%;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
}

section, div.component-children {
	//display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
}

h3 {
	margin: 0;
	padding: 0;
}

.select-case button {
	width: 100px !important;
	height: 100px !important;
	font-size: 0.9em !important;
	text-align: center !important;
}

a:hover {
	text-decoration: none;
}

.item {
	position: absolute;
	margin: 0 auto;
	background-color: #fff;
	width: 320px;
	/*height: 240px;*/
	border-radius: 5px;
	line-height: 240px;
	font-size: 2.5em;
	color: #222;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

#add-item {
	text-align: center;
}

#btn-start {
	width: 200px;
	height: 200px;
}

.abs-center:after {
	background-color: red !important;
	width: 500px;
	height: 500px;
	content: 'DO NOT USE ME'
}

button.back {
	position: relative;
	margin: 0.5em !important;
	z-index: 100 !important;
}
