@import "theme.less";
@import "main.less";
@import "mixins.less";
@import "case-information.less";

//TODO: make responsive

@button-size: 7em;

.virtual-patient-component-container {
  /*
	position: relative;
	left: 30%;
	height: 60em;
	*/
  width:100%;
  height:100%;

}

#virtual-patient-img-container {
  background-image: url("../images/androg.front.jpg");
  width:135px;
   height:313px; /*135x313*/
	// left: 40%;
}

#card-container {
	position: absolute;
	display: block;
	height: 100%;
	left: 75%;
	top: 0%;
}

#test-menu-container {
	// position: absolute;
	// display: block;
	// height: 100%;
	// left: -20%;
	// top: 30%;

}

#button-menu{
    position: relative;
    bottom: 50px;
}

// #results-container {
// 	position: absolute;
// 	display: block;
// 	height: 100%;
// 	left: -20%;
// 	top: 90%;
//
// }

#query-menu-container {
  display:block;
}

#virtual-patient-img {
	height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: middle !important;
	margin-left: auto;
	margin-right: auto;
}

.vp-button {
	//background-color: red !important;
	padding: 1em;
  margin:0;
	width: @button-size !important;
	height: @button-size !important;
	text-align: center;
	font-size: 12pt;
}

.smaller-vp-button {
	width: 5em+1em !important;
	height: 5em+1em !important;
}

#button-chart {
	.vp-button;
	.smaller-vp-button;
}

#button-query {
	.vp-button;
	.smaller-vp-button;
}

#button-tests {
	.vp-button;
	.smaller-vp-button;
}

.chart {

	td {
		padding: 10px;
	}
	width: 20em;

	.hide-chart-button {
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

#patients-chart-table {
	.chart;
  height:350px;
}

#urine-analysis-results {
	.chart;
	position: absolute;
	top: 50%;
	left: -20%;
}

#hotspot-button {
	position: absolute;
	top: 70%;
	left: 30%;
	background-color: red !important;
	.opacity;
	padding: 1.5em;
	width: 1em !important;
	height: 1em !important;
	text-align: center;
	font-size: 14pt;
}

.generic-card {
	font-size: 8pt;
	width: 1200px; /* the size of the background image ~~~~~~~~~~~~~~~~~~~~~~~~~*/
    height: 384px;
	text-align: left;

  background-repeat:no-repeat;
  background-position:64px 64px;
  background-size: 256px 256px; /*native res*/
  padding-left:384px;
  font-size:4em;
  padding-top:100px;
}

.card-icon {
	width: 20%;
	height: 20%;
	padding-right: 1em;
	float:left;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card-text{
	.vertical-align;
	// vertical-align: middle;
}

.speech-icon, .observe-icon {
	.card-icon
}

.speech-card {
	.generic-card;
	/*background-color: lightBlue;*/
  background-image: url("../images/speech.png");
}

.observation-card {
	.generic-card;
  background-image: url("../images/observe.png");
}

.menu-item{
    // .generic-card;
    font-size: 8pt;
    width: 800px;
    text-align: left;
    height:200px;
    font-size:4em;

}

.test-card {
	.menu-item;
}

.query-card {
	.menu-item;
}

.results-card {
	.test-card;
	background-color: lightPink;
}

ul {
	list-style-type: none;
}
