    <!-- Virtual patient---------------------------------------------------------------------->
    <!--<div id="vp-container"> &lt;!&ndash;virtual-patient-img-container = 512x768&ndash;&gt;-->
        <!--<button class="hotspot" style="margin:12% 0 0 64%"></button> &lt;!&ndash;load these positions in dynamically from json&ndash;&gt;-->
        <!--<button id="target">abc</button>-->
    <!--</div>-->


    <!-- query patient menu -------------------------------------->

    <!--<div id="query-menu-container" class="menu-container">-->
        <!--<button id="button-query" class="btn btn-material-indigo btn-fab btn-raised">Query</button>-->
        <!--<div id = "query-menu" class="button-menu"></div>-->
    <!--</div>-->

    <!--&lt;!&ndash; test patient menu &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
    <!--<div id="test-menu-container" class="menu-container">-->
        <!--<button id="button-tests" class="btn btn-material-indigo btn-fab btn-raised">Tests</button>-->
        <!--<div id = "test-menu" class="button-menu"></div>-->
    <!--</div>-->

    <!--&lt;!&ndash;patients chart: hidden by default in controller-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
    <!--<div id = "patients-chart-container" class="menu-container">-->
    <!--<button id="button-chart" class="btn btn-material-indigo btn-fab btn-raised">Chart</button>-->
    <!--</div>-->

    <!-- the event feed -->
    <!--<div id ="eventfeed"></div>-->



    <!--<div id ="dummy-collection-box">Dummy Evidence Box</div>-->
