<div id="issues-container" class="abs-center">
    <div id="issues" class="abs-center"></div>
    <div id="evidence" class="abs-center"></div>

    <div id="menu" class="hidden">
        <button id="btn-delete" class="btn btn-small btn-fab btn-raised btn-material-yellow abs-center mdi-action-delete delete droppable"></button>
        <button id="btn-split" class="btn btn-small btn-fab btn-raised btn-material-yellow abs-center mdi-content-content-cut split droppable"></button>
    </div>
</div>

<a href="cases/{{case.id}}/activity/issues/topics">
    <buttton id="btn-topic_unlock" class="btn btn-info btn-fab btn raised mdi-action-dns"/>
</a>


