<div id="issues-container" class="abs-center">

    {{#with case}}
    <div id="issues">

		{{#each issues}}

			<div class="issue">
				<button class="btn btn-default btn-fab btn-raised btn-material-red abs-center issue">{{content}}</button>
			</div>

		{{/each}}

    </div>

    <div id="evidence">

        {{#each evidence}}

            <div class="evidences">
                <button class="btn btn-default btn-fab btn-raised btn-material-green abs-center evidence">{{content}}</button>
            </div>

        {{/each}}

    </div>
    {{/with}}

</div>
