<div id="issues-container" class="abs-center">
    <div id="issues">

        {{#each []}}
        {{#each issues}}

        <div class="issue">
            <button class="btn btn-default btn-fab btn-raised btn-material-red abs-center issue">{{content}}</button>
        </div>

        {{/each}}
        {{#each evidence}}
        <div class="evidences">
            <button class="btn btn-default btn-fab btn-raised btn-material-green abs-center evidence">{{content}}</button>
        </div>
        {{/each}}
        {{/each}}
    </div>
</div>