<div id="issues-container" class="abs-center">
    <button id="btn-select-topic" class="btn btn-default disabled abs-center">Select a<br>Topic</button>
    <div class="score-display btn-raised " ></div>
    <div id="topics" class="abs-center"></div>
    <div id="issues"></div>
</div>


