<button id="back" class="btn btn-danger btn-fab btn-raised mdi-navigation-arrow-back"></button>
<div class="case-overview abs-center">
	<button id="case-information" class="btn btn-primary btn-fab btn-raised">Case<br>Information</button>
	<div class="line"></div>
	<button id="identify-issues" class="btn btn-disabled btn-fab btn-raised">Identify Issues</button>
	<div class="line"></div>
	<button id="goals-and-actions" class="btn btn-disabled btn-fab btn-raised">Goals and<br>Actions</button>
	<div class="line"></div>
	<button id="reflection" class="btn btn-disabled btn-fab btn-raised">Reflection</button>
</div>
