<div class="case-information abs-center">
	<button class="btn btn-primary btn-fab btn-raised title abs-center">Case<br>Information</button>
	<div class="menu">
		<div class="menu-item abs-center">
			<button class="btn btn-default btn-raised">Patient Background</button>
			<button id="patient-background" class="btn btn-material-light-blue btn-fab btn-raised mdi-content-add"></button>
		</div>
		<div class="menu-item abs-center">
			<button class="btn btn-default btn-raised">Context</button>
			<button id="context" class="btn btn-material-light-blue btn-fab btn-raised mdi-content-add"></button>
		</div>
		<div class="menu-item abs-center">
			<button class="btn btn-default btn-raised">Background</button>
			<button id="background" class="btn btn-material-light-blue btn-fab btn-raised mdi-content-add"></button>
		</div>
	</div>
</div>
