<div class="virtual-patient-component-container">
  <button id="flip-patient-button" class="btn btn-primary btn-fab btn-raised">Flip</button>
  <button id="patients-chart-button" class="btn btn-primary btn-fab btn-raised">Chart</button>

  <!-- <button id="test-request-button" class="btn btn-primary btn-fab btn-raised title">Tests</button><br><br> -->
  <button id="test-request-button" class="btn btn-primary btn-fab btn-raised">Tests</button><br><br>
  <button id="test-results-button" class="btn btn-primary btn-fab btn-raised">Results</button>

  <button id="question-patient-button" class="btn btn-primary btn-fab btn-raised">Query<br>Patient</button>
  <button id="save-issue-button" class="btn btn-primary btn-fab btn-raised">Save<br>Issue</button>


  <!-- <div class="menu">
      <div class="menu-item abs-center">
          <button class="btn btn-default btn-raised">Urine Analysis</button>
          <button id="patient-background" class="btn btn-material-light-blue btn-fab btn-raised mdi-content-add"></button>
      </div>
      <div class="menu-item abs-center">
          <button class="btn btn-default btn-raised">Blood Cell Count</button>
          <button id="context" class="btn btn-material-light-blue btn-fab btn-raised mdi-content-add"></button>
      </div>
      <div class="menu-item abs-center">
          <a href="case/{{case.id}}/information/background">
              <button class="btn btn-default btn-raised">Xray</button>
              <button id="background" class="btn btn-material-light-blue btn-fab btn-raised mdi-content-add"></button>
          </a>
      </div>
      <div class="menu-item abs-center">
          <a href="case/{{case.id}}/information/virtualpatient">
              <button class="btn btn-default btn-raised">Virtual Patient</button>
              <button id="virtual-patient" class="btn btn-material-light-blue btn-fab btn-raised mdi-content-add"></button>
          </a>
      </div>
  </div> -->


  <div id="questions-container">

  <button id="question-card" class="btn card question-card">Are you hungry?</button><br><br>
  <!-- <button id="question-card" class="btn card question-card">Yes</button><br><br> -->

  </div>

  <div id="button-container">

  <button id="test-card" class="btn card test-card">Urine Analysis</button><br><br>
  <button id="test-card" class="btn card test-card">Blood Test</button><br><br>
    <button id="test-card" class="btn card test-card">Blood Test</button><br><br>

  <button id="test-card" class="btn card test-card">XRAY</button><br><br>
  <button id="test-card" class="btn card test-card">CTSCAN</button><br><br>
</div>

<div id="results-container">

<button id="results-card1" class="btn card results-card">Urine Analysis</button><br><br>
</div>



  <div id= "virtual-patient-img-container">
    <img id ="virtual-patient-img" src = "resources/images/androg.front.jpg">
    <!-- TODO: for each hotspot-->
    <button id="hotspot-button" class="btn btn-fab"></button></img>
  </div>


  <div id="card-container">
     <div id ="speech-card1" class = "speech-card">
          <!-- <button  class=""> -->
      <img class ="speech-icon" src = "resources/images/speech.png"/>
      "I'm cold"</button>
  </div><br>
  <div id ="speech-card2" class ="speech-card">
       <!-- <button  class=""> -->
   <img class ="speech-icon" src = "resources/images/speech.png"/>

   "Question: Are you hungry?<br>
   Response: Yes."
</div>
<br>
        <div id ="observation-card1" class ="card observation-card">
            <!-- <button id="observation-card" class="btn card observation-card"> -->
              <img class ="observe-icon" src = "resources/images/observe.png"/>
              Patient is elderly man.</button>
          </div><br><br>

          <div id ="observation-card2" class ="card observation-card">
            <!-- <button id="observation-card" class="btn card observation-card"> -->
              <img class ="observe-icon" src = "resources/images/observe.png"/>
              Patient is itchy all over.
          <!-- </button> -->
      </div><br><br>
          <div id ="observation-card3" class ="card observation-card">
            <!-- <button id="observation-card" class="btn card observation-card"> -->
              <img class ="observe-icon" src = "resources/images/observe.png"/>
              Patient appears anxious.</button>
          </div><br>


  </div>

<div id="urine-analysis-results">
    <table >
        <th>Urine Analysis Results</th>
        <tr>
          <td>Glucose</td>
          <td>100</td>
        </tr>
        <tr>
        <td>Bilirubin</td>
        <td>30<td>
        </tr>
        <tr>
        <td>Ketones</td>
        <td>120</td>
        </tr>
      <tr>
      <td>S.G</td>
      <td>20</td>
      </tr>
      <tr>
        <tr>
        <td>Eryth</td>
        <td>30</td>
        </tr>
      <td>pH</td>
      <td>40</td>
      </tr>
      <td>T.S(g/dL)</td>
      <td>50</td>
      </tr>
    </table>
    <button id ="hide-chart-button2" class="btn btn-primary btn-raised hide-chart-button">Hide</button>
</div>


  <div id="patients-chart-table">
    {{#each []}}
      <table >
          <th>Patients Chart</th>
          <tr>
            <td>First Name</td>
            <td>{{this.firstname}}</td>
          </tr>
          <tr>
          <td>Last Name</td>
          <td>{{this.lastname}}</td>
          </tr>
          <tr>
          <td>Gender</td>
          <td>{{this.sex}}</td>
          </tr>
        <tr>
        <td>Age</td>
        <td>{{this.age}}</td>
        </tr>
        <tr>
          <tr>
          <td>DOB</td>
          <td>{{this.dob}}</td>
          </tr>
        <td>Profession</td>
        <td>{{this.profession}}</td>
        </tr>
      </table>
    {{/each}}
    <button id ="hide-chart-button" class="btn btn-primary btn-raised hide-chart-button">Hide</button>
  </div>


</div>
