<div id="goals-activity-container" class="abs-centre">
    <button class="btn btn-default disabled">Create Goals and Actions</button>
    <ul class="media-list row goals-container">
        {{#each []}}
        <li>
            <div class="col-lg-6">
                <button class="btn btn-default disabled">{{content}}</button>
            </div>
            <div class="col-lg-6">
                <a href="goals/{{id}}/actions">
                    <button class="btn btn-default btn-fab btn-raised btn-material-red case mdi-content-add"></button>
                </a>
            </div>
        </li>
        {{/each}}
    </ul>
    <div id="create-btn-wrapper" class="row">
        <div class="col-lg-12">
            <h3 class="prompt">Create Goal</h3>
        </div>
        <div class="col-lg-12">
            <a href="activity/goals/create">
                <button id="goals-and-actions" class="btn btn-primary btn-fab btn-raised mdi-content-add"></button>
            </a>
        </div>
    </div>
</div>